form {
  max-width: 500px;
  margin: 0 auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat',
    sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2;
  color: #f3f3f3;
}

input:focus, textarea:focus {
  border-bottom: 2px solid #78788c;
}

.input__success{
  border-bottom: 2px solid #38bf16;
  animation-name: vWobbler;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.input__success:focus{
  border-bottom: 2px solid #288020;
}

.input__error{
  border-bottom: 2px solid #bf1650;
  animation-name: hWobbler;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

.input__error:focus{
  border-bottom: 2px solid #802038;
}

.input__error:nth-of-type(2){
  animation-delay: 0.1s;
}

@keyframes hWobbler {
    0% {transform: translateX(-1em);}
    50% {transform: translateX(1em);}
    100% {transform: translateX(-1em);}
}

@keyframes vWobbler {
    0% {transform: translateY(-2px);}
    50% {transform: translateY(2px);}
    100% {transform: translateY(-2px);}
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button[type="submit"],
input[type="submit"] {
  cursor: pointer;

  background: none;
  color: #f3f3f3;
  text-transform: uppercase;
  border: solid #f3f3f3 1px;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;

  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #f3f3f3;
  color: #3f3b3b;
}

button[type="submit"]:active,
input[type="submit"]:active {
  transition: 0.2s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

button[type="submit"]:disabled,
input[type="submit"]:disabled {
  transition: 0.2s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.4;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.button__success{
  cursor: default;

  border: 2px solid #38bf16 !important;
  color: #f3f3f3 !important;
  animation-name: vWobbler;
  animation-duration: 0.15s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

.button__success:hover{
  cursor: default;

  border: 2px solid #38bf16 !important;
  background-color: #3f3b3b !important;
}

.button__success:focus{
  cursor: default;

  border: 2px solid #38bf16 !important;
  background-color: #3f3b3b !important;
}

.button__error{
  border: 2px solid #bf1650 !important;
  color: #f3f3f3 !important;
  animation-name: hWobbler;
  animation-duration: 0.15s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

.button__error:hover{
  border: 2px solid #802038 !important;
  background-color: #802038 !important;
}

.button__error:focus{
  border: 2px solid #802038 !important;
}

.formTitle{
  color: #f3f3f3;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 2px;
}